<!DOCTYPE html>
<html>

<head>
  <script>
    async function send_info() {
      let UserLogin = document.getElementById("UserLoginforUserInfo").value;
      await fetch(`http://localhost:7095/User?UserLogin=${UserLogin}`).then(response => response.json()).then(data => alert(JSON.stringify(data)));
    }
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="https://bootstrap5.ru/css/docs.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <style>
    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      /* Behind the navbar */
      padding: 48px 0 0;
      /* Height of navbar */
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }

    .status-icon {
      font-size: 0.7em;
    }

    .status-true {
      color: green;
    }

    .status-false {
      color: red;
    }
  </style>

<body>

  {% include "../Base/navbar.html" %}

  <div class="container-fluid">
    <div class="row">
      {% include "../Base/sidebar.html" %}
      <main height="100%" class="col-md-9 row ml-sm-auto col-lg-10 px-md-4">
        <H1 class="w-100 mb-3">{% if computer_json.status %}
          <i class="fas fa-circle status-icon status-true"></i>
          {% else %}
          <i class="fas fa-circle status-icon status-false"></i>
          {% endif %}
          {{computer_json.computerName}}.{{computer_json.domainName}} <a href="/updateComputerStatus/{{ id }}"><svg
              xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-repeat"
              viewBox="0 0 16 16">
              <path
                d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192m3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z" />
            </svg></a>
        </H1>


        <div class="col row m-3 ">

          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true">Информация</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="false">Установленные приложения</a>
            </div>
          </nav>


          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="col row">
                <div class="col-4">Обновлено: </div>
                <div class="col-1 " style="width: 50%;"> {{computer_json.updated|date:"d.m.Y H:i:s"}} ( {{difMinutes}} минут назад)</div>
              </div>
              <div class="col row">
                <div class="col-4">Операционная система</div>
                <div class="col-1 " style="width: 50%;"> {{computer_json.windowsEdition}} </div>
              </div>
              <div class="w-100 border-top"></div>
              <div class="col row">
                <div class="col-4"> IP</div>
                <div class="col-1 "> {{computer_json.ipAddress}}</div>
              </div>
              <div class="w-100 border-top"></div>
              <div class="col row">
                <div class="col-4">Имя</div>
                <div class="col-1 " style="width: 50%;"> {{computer_json.computerName}} </div>
              </div>
              <div class="w-100 border-top"></div>
              <div class="col row">
                <div class="col-4">Домен</div>
                <div class="col-1 " style="width: 50%;"> {{computer_json.domainName}} </div>
              </div>
              <div class="w-100 border-top"></div>
              <div class="col row">
                <div class="col-4">Роль</div>
                <div class="col-1 " style="width: 50%;">{{computer_json.computerRole}} </div>
              </div>
              <div class="w-100 border-top"></div>
              <div class="col row">
                <div class="col-4">ОЗУ(гб)</div>
                <div class="col-1 ">{{computer_json.totalRAMGB}} </div>
              </div>
              <div class="w-100 border-top"></div>

              {% for disk in computer_json.diskSpace %}
              <div class="w-100 border-top"></div>
              <div class="col row">
                <div class="col-4">Диск {{disk.DeviceID}}</div>
                <div class="col-1 " style="width: 50%;">{{disk.FreeSpaceGB}}/{{disk.TotalSpaceGB}} Гб</div>
              </div>
              {% endfor %}

              {% for cpu in computer_json.cpuName %}
              <div class="w-100 border-top"></div>
              <div class="col row">
                <div class="col-4">ЦП</div>
                <div class="col-1" style="width: 50%;">{{cpu}}</div>
              </div>
              {% endfor %}


            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              {% if apps is None %}
                  <div class="alert alert-danger text-center mt-3">
                      Не удалось получить данные
                  </div>
              {% else %}
                  <div class="container-fluid px-0">
                      <div class="row fw-bold border-bottom py-2 bg-light ms-0">
                          <div class="col-4">Приложение</div>
                          <div class="col-4">Издатель</div>
                          <div class="col-2 text-center">Версия</div>
                          <div class="col-2 text-center">Дата установки</div>
                      </div>
                      {% for app in apps %}
                      <div class="row border-bottom py-2 align-items-center ms-0">
                          <div class="col-4">{{ app.DisplayName }}</div>
                          <div class="col-4">{{ app.Publisher }}</div>
                          <div class="col-2 text-center">{{ app.DisplayVersion }}</div>
                          <div class="col-2 text-center">{{ app.InstallDate }}</div>
                      </div>
                      {% endfor %}
                  </div>
              {% endif %}
          </div>
          

          </div>


        </div>
      </main>

    </div>

  </div>

  </div>

</body>

</html>