<script>
  function trySearch() {
    let text = document.getElementById("searchText").value;
    window.location.href = '/search/'+text;
  }
  function trySearchtext() {
    if (event.key=='Enter') {
      let text = document.getElementById("searchText").value;
      window.location.href = '/search/'+text;
    }
  }
</script>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap mb-3 p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/">ИТ Академия</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <input class="form-control form-control-dark w-100" type="text" placeholder="Поиск" id="searchText" aria-label="Search" onkeydown="trySearchtext()">
    <ul class="navbar-nav px-1">
      <button type="button" onclick="trySearch()" class="btn btn-dark">Найти</button>
      </ul>
    <ul class="navbar-nav px-1">
      <button type="button" class="btn btn-dark">Войти</button>
    </ul>
  </nav>