<!DOCTYPE html>
<html>

<head>
  <script>
    async function send_info() {
      let UserLogin = document.getElementById("UserLoginforUserInfo").value;
      await fetch(`http://localhost:7095/User?UserLogin=${UserLogin}`).then(response => response.json()).then(data => alert(JSON.stringify(data)));
    }
    
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="https://bootstrap5.ru/css/docs.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <style>
    .d-flex{
      gap:2%;
    }
    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      /* Behind the navbar */
      padding: 48px 0 0;
      /* Height of navbar */
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }
  </style>

<body>

  {% include "../Base/navbar.html" %}

  <div class="container-fluid">
    <div class="row">
      {% include "../Base/sidebar.html" %}
      <main height="100%" class="col-md-9 row ml-sm-auto col-lg-10 px-md-4">
        <H1 class="w-100 mb-3">СТРАНИЦА ПОЛЬЗОВАТЕЛЯ</H1>
        <div class="col-2 text-center">
          {% if not '.jpg' in profile_json.img_src or not '.png' in profile_json.img_src%}
          <img width="200" height="200" src="/static/default.jpg">
          {% else %}
          <img width="200" height="200" src="/static/media/employee_avatars/{{ profile_json.img_src }}">
          {% endif %}
          <div class="col"> {{profile_json.surname}} {{profile_json.name}} {{profile_json.patronymic}}</div>
          <div>
            <button type="button" class="btn btn-outline-primary w-100 m-1">Активность</button>
            <form method ="post" enctype="multipart/form-data" action="img_update">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="file" id="emp_avatar" name="avatar" accept="image/png, image/jpeg" />
              <button class="btn btn-outline-primary w-100 m-1" type="submit">Загрузить изображение</button>
          </form>
          </div>
        </div>


        <div class="col row m-3 ">

          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true">Контактная информация</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="false">Учётные записи</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

              <div class="col row">
                <div class="col-4">Электронная почта</div>
                <div class="col-1 " style="width: 50%;"> {{profile_json.email}} </div>
              </div>
              <div class="w-100 border-top"></div>
              <div class="col row">
                <div class="col-4"> Дата приёма на работу</div>
                <div class="col-1 "style="width: 50%;"> {{profile_json.apply_date}}</div>
              </div>
              <div class="w-100 border-top"></div>
              <div class="col row">
                <div class="col-4">Компания</div>
                <div class="col-1 "> {{profile_json.company}} </div>
              </div>
              <div class="w-100 border-top"></div>
              <div class="col row">
                <div class="col-4">Должность</div>
                <div class="col-1 "> {{profile_json.appointment}} </div>
              </div>
              <div class="w-100 border-top"></div>
              <div class="col row">
                <div class="col-4">Город</div>
                <div class="col-1 ">{{profile_json.city}} </div>
              </div>
              <div class="w-100 border-top"></div>
              {% if 'None' not in profile_json.fire_date %}
              <div class="col row">
                <div class="col-4">Дата увольнения</div>
                <div class="col-1 text-danger" style="width: 50%;">{{profile_json.fire_date}} </div>
              </div>
              {% endif %}

            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <div class="d-flex w-50 ">
                <select class="form-select " aria-label="Выберите домен">
                    <option value="AD"> AD </option>
                </select>
                <select class="form-select" id="domainSelect" aria-label="Выберите домен">
                  {% for domain in domains %}
                    <option value="{{domain}}"> {{domain}} </option>
                  {% endfor %}
                </select>
                <input type="checkbox" id="mailCheckbox">
                <label for="mailCheckbox">Exchange</label>
                <button id="createAccBtn" class=" p-1 btn btn-outline-primary">Создать</button>
              </div>
              <div name="profiles" class="mt-5">
              {% for profile in profile_json.profiles %}
                  {% for key, value in profile.items %}
                  <div class="col row">
                    <div class="col-4">{{value.domain}}</div>
                    <div class="col-1 " style="width: 50%;">  
                      <a href="/{{ key }}/{{value.domain}}/{{value.user}}">
                          <div class="col">
                              {% if 'AD' in key %}
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-windows" viewBox="0 0 16 16">
                                      <path d="M6.555 1.375 0 2.237v5.45h6.555V1.375zM0 13.795l6.555.933V8.313H0v5.482zm7.278-5.4.026 6.378L16 16V8.395H7.278zM16 0 7.33 1.244v6.414H16V0z" />
                                  </svg>
                              {% else %}
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-question" viewBox="0 0 16 16">
                                      <path d="M8.05 9.6c.336 0 .504-.24.554-.627.04-.534.198-.815.847-1.26.673-.475 1.049-1.09 1.049-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745z" />
                                      <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z" />
                                      <path d="M7.001 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0z" />
                                  </svg>
                              {% endif %}
                              {{value.user}}
                          </div>
                      </a>
                    </div>
                  </div>
                      <div class="w-100 border-top"></div>
                  {% endfor %}
              {% endfor %}
            </div>
          </div>
          </div>


        </div>
      </main>

    </div>

  </div>

  </div>

</body>
<script>

  createAccBtn = document.getElementById("createAccBtn")
  createAccBtn.addEventListener("click", createAcc);
  async function createAcc(){
    domain = document.getElementById("domainSelect").value;
    mail = document.getElementById("mailCheckbox").checked;
    console.error(domain)
    let result = await fetch(`/createAD/`+domain+`/{{id}}?mail=` + mail);
    if (result.status == 200){
      window.location.reload();
    }
  }
</script>
</html>