@using Frontend.Classes
@using Frontend.Context
@using Frontend.Models
@model UserModel
@{
    var db = new AHCDatabase(ViewData["dbContext"] as AHCContext);
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcum</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addmodal">
        "Добавить"
    </button>
    <div class="modal fade" id="addmodal" tabindex="-1" aria-labelledby="addmodallabel" aria-hidden="true">
        <form method="post" action="Home/AddCity">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Добавь говна
                    </div>
                    <div class="modal-body">
                        <!-- Вот здесь поля добавь-->
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="mb-3 btn-primary" value="Принять" />
                        <input type="button" class="mb-3 btn-danger" value="Отклонить" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
